<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lingaro.OfficePlanner.Web</title>
    <base href="~/" />
</head>
<body style="height: 100%">
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>